@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');


//Fonts
$kalam: 'Kalam', cursive;
$amiri: 'Amiri', serif;

$complete: #23754abe;
$incomplete: #ff462d98;